/* PHASE 1: Header */
body {
    font-weight: 400;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    background-color: #eee;
}

.header {
  background-color: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header a {
  padding: 10px 20px;
  display: block;
}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  float: left;
  font-weight: 700;
  border-right: 1px solid #ccc;
}

.header-logo:hover {
  background: #000;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #000;
}
